@import '~antd/dist/antd.css';

.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    flex-direction:column ;
}

.btn-color{

    
    background-color: rgb(196, 196, 209);
    cursor: pointer;

}

.flex-card{
    display: flex;
    align-items: center;
    flex-flow: row wrap;


}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


.spinnerx{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
}
.overly{
    
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.286);
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
}

.box-container{
margin-left: 3%;
}
.inside-map-render{
    margin-bottom: 20px;
    margin-left: 1%;
    cursor: pointer;
}
.inside-map-render:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media(max-width:600px){
    .inside-map-render{
        padding-bottom: 20px;
        margin-left: 0%;
    }
    .box-container{
        margin-left: 0%;
        
    }
    .flex-card{

        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: center;
        
     }
}

@media(max-width:800px){
    .inside-map-render{
        padding-bottom: 20px;
        margin-left: 0%;
    }
    .box-container{
        margin-left: 0%;
        
    }
    .flex-card{

        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-evenly;
        
     }
}
